body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('pokeball.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    transition: all 0.3s;
}

.pokemon-item {
    outline: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    transition: transform 0.3s, background-image 0.3s;
    position: relative;
}

.pokemon-item img {
    max-width: 100%;
    height: auto;
}

.pokemon-item:hover {
    background-image: url('hover-background.png');
    transform: scale(1.05);
}

.pokemonball {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.name {
    display: none;
}

@media (max-width: 800px) {
    .pokemon-grid {
        grid-template-columns: 1fr;
    }
    .pokemon-item {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: relative;
    }
    .pokemon-item img {
        max-width: 50px;
        margin-right: 20px;
    }
    .name {
        display: inline;
    }
    .pokemonball {
        display: inline;
    }
}

@media (max-width: 600px) {
    .pokemon-grid {
        flex-direction: column;
        align-items: center;
    }
    .pokemon-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .pokemonball {
        display: none;
    }
    .name {
        display: block;
        margin-top: 10px;
    }
}
